<!-- Right Sidebar -->
<div id="otherbar">
	<div class="nav">
		<h3>Topics</h3>
		<ul>
			<li class="active" data-nav="financial"><a><span>Financial</span></a></li>
			<li><a href="#another-link"><span>News</span></a></li>
			<li><a href="#another-link"><span>Legal</span></a></li>
			<li><a href="#another-link"><span>Intellectual Property</span></a></li>
			<li><a href="#another-link"><span>Clinical Trials</span></a></li>
			<li><a href="#another-link"><span>ESG (Asset4)</span></a></li>
			<li><a href="#another-link"><span>GRC</span></a></li>
			<li><a href="#another-link"><span>OA</span></a></li>
			<li><a href="#another-link"><span>Atlas</span></a></li>
		</ul>
		
		<h3>Customized Views</h3>
		<ul>
			<li class="active"><a href="#some-link"><span>Financial</span></a></li>
			<li><a href="#another-link"><span>News</span></a></li>
			<li><a href="#another-link"><span>Legal</span></a></li>
			<li><a href="#another-link"><span>Intellectual Property</span></a></li>
		</ul>
		
		<h3>Your View</h3>
		<ul>
			<li class="active"><a href="#some-link"><span>Financial</span></a></li>
			<li><a href="#another-link"><span>News</span></a></li>
			<li><a href="#another-link"><span>Legal</span></a></li>
		</ul>
	</div>
</div>